/* Universal selector */
* {
  padding: 0;
  margin: 0;
}


/*--------------font family--------------------*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/*------common Use-----------------*/
.container {
  max-width: 1400px;
  margin: auto;
}



/*-------------Main----------------------*/

/*header{

  background: #7a0404;

}
    */

    /*----------------------------Header--------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  background: #FFFFFF;
}



.items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 35px;
  font-size: 16px;
  font-weight: 500;
}

.items a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.btn{
  border: none;
  background: #30B868;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

/* -----------------------------------------------------------------------------------*/