/* Universal selector */
* {
  padding: 0;
  margin: 0;
}


/*--------------font family--------------------*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/*------common Use-----------------*/
.container {
  max-width: 1400px;
  margin: auto;
}



/*-------------Main----------------------*/

/*header{

  background: #7a0404;

}
    */

/*----------------------------Header--------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  background: #FFFFFF;
}



.items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 35px;
  font-size: 16px;
  font-weight: 500;
}

.items a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.btn {
  border: none;
  background: #30B868;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}



/* -----------------------------------------------------------------------------------*/

.banner-parent {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg,
      rgb(42, 42, 42, 0.5),
      rgba(188, 179, 179, 0.4)),
    url("assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 70px;
  margin: 20px auto;
  max-width: 2200px;

}



.banner-parent .early-access-btn {
  display: flex;
  color: #30B868;
  padding: 4px 12px;
  border-radius: 800px;
  background: #FFFFFF;
  cursor: pointer;
}


.early-access-btn button {
  border: none;
  color: #30B868;
  font-weight: 500;
  font-size: 16px;
  background: #FFFFFF;
  margin-left: 6px;
  cursor: pointer;
}

.header-one {
  font-weight: 700;
  font-size: 72px;
  color: #FFFFFF;
  font-style: bold;
}

.header-two {
  font-weight: 700;
  font-size: 72px;
  color: #30B868;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}


.see-how-btn{
    border: none;
  background: fixed;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  margin: 16px 8px;
}


/*---------------------------Card --------------------------------------------*/

.Notes-parent{
    margin: 80px auto;
}

.card-section-title{
 display: flex;
 flex-direction: column;
 text-align: center;
 gap: 10px;
 margin-bottom: 30px;
}

.card-section-title h2{
 font-size: 48px;
  font-weight: 700;
  color: #001931;
}

.card-section-title p{
 font-size: 16px;
  font-weight: 400;
  color:#627382;
}

.card-parent{

 display: flex;
  gap: 15px;
  margin-top: 16px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  
}

.item-card{
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  gap: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.045);

}

.item-card img{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  padding: 8px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%
}

.item-card h2{

  font-size: 24px;
  font-weight: 600;
  color: #001931;
}
.item-card p{
   font-size: 16px;
  font-weight: 400;
  color:#627382,;
}


